@font-face {
  font-family: Big-John;
  src: url("../fonts/big-john.otf"); }
@font-face {
  font-family: Slim-Joe;
  src: url("../fonts/slim-joe.otf"); }
html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  font-family: Arial, Helvetica; }
  html body {
    width: 100%; }
    html body header {
      width: 100%;
      height: 50px;
      background: -webkit-linear-gradient(#222, #333);
      background: -o-linear-gradient(#222, #333);
      background: -moz-linear-gradient(#222, #333);
      background: linear-gradient(#222, #333); }
      html body header div.header-inner {
        margin: 0 auto;
        padding: 10px 0;
        width: 95%;
        height: 30px; }
        html body header div.header-inner div.header-left {
          float: left; }
          html body header div.header-inner div.header-left a {
            position: relative;
            top: 6px;
            padding: 5px 10px;
            font-size: 15px;
            color: #fff;
            text-decoration: none;
            background: -webkit-linear-gradient(#FA906E, #FA5A2E);
            background: -o-linear-gradient(#FA906E, #FA5A2E);
            background: -moz-linear-gradient(#FA906E, #FA5A2E);
            background: linear-gradient(#FA906E, #FA5A2E);
            border: none; }
        html body header div.header-inner div.header-right {
          float: right; }
          html body header div.header-inner div.header-right img.user-image {
            width: 30px; }
          html body header div.header-inner div.header-right span.user-greeting {
            margin-left: 5px;
            line-height: 34px;
            vertical-align: top;
            font-size: 15px;
            color: #fff; }
          html body header div.header-inner div.header-right img.ph-logo {
            margin-left: 30px;
            width: 40px; }
    html body div.drawer {
      position: fixed;
      float: left;
      width: 250px;
      overflow-y: scroll;
      background-color: #f9f9f9;
      border-right: 1px solid #444;
      overflow: hidden;
      opacity: 0.9; }
      html body div.drawer h1.banner {
        padding: 20px 10px 10px 10px;
        width: 250px;
        color: #444; }
        html body div.drawer h1.banner span:first-child {
          font-family: "Slim-Joe";
          font-size: 20px; }
        html body div.drawer h1.banner span:last-child {
          font-family: "Big-John";
          font-size: 19px; }
      html body div.drawer nav.drawer-menu {
        margin-top: 60px; }
        html body div.drawer nav.drawer-menu h4.control-center-title {
          margin-bottom: 9px;
          padding-left: 10px;
          width: 250px;
          color: #888;
          font-family: "Slim-Joe";
          font-size: 12px; }
        html body div.drawer nav.drawer-menu ul {
          list-style: none; }
          html body div.drawer nav.drawer-menu ul li {
            padding: 10px;
            width: calc(250px - 20px);
            font-family: "slim-joe";
            font-size: 10px;
            color: #444;
            border-top: 1px solid #ddd;
            cursor: pointer; }
            html body div.drawer nav.drawer-menu ul li a {
              color: inherit;
              text-decoration: none; }
              html body div.drawer nav.drawer-menu ul li a i {
                margin-right: 10px; }
              html body div.drawer nav.drawer-menu ul li a span {
                font-weight: bold; }
          html body div.drawer nav.drawer-menu ul li:last-child {
            border-bottom: 1px solid #ddd; }
          html body div.drawer nav.drawer-menu ul li:hover {
            background-color: #e3e3e3; }
          html body div.drawer nav.drawer-menu ul li#important-control-center {
            color: #FA906E; }
      html body div.drawer div.past-questions {
        position: absolute;
        bottom: 0;
        padding: 10px 0 0 0;
        background: -webkit-linear-gradient(#2a2a2a, #222);
        background: -o-linear-gradient(#2a2a2a, #222);
        background: -moz-linear-gradient(#2a2a2a, #222);
        background: linear-gradient(#2a2a2a, #222); }
        html body div.drawer div.past-questions > span {
          display: block;
          padding: 10px;
          width: calc(250px - 20px);
          font-family: "slim-joe";
          font-size: 12px;
          color: #f9f9f9;
          border-bottom: 1px solid #666; }
          html body div.drawer div.past-questions > span i {
            margin-right: 10px; }
        html body div.drawer div.past-questions ul {
          list-style: none;
          height: 192px;
          overflow-y: scroll; }
          html body div.drawer div.past-questions ul li {
            padding: 10px 10px 10px 10px;
            width: calc(250px - 20px);
            font-size: 12px;
            color: #aaa;
            cursor: pointer; }
          html body div.drawer div.past-questions ul li:nth-child(2n) {
            background-color: #444; }
          html body div.drawer div.past-questions ul li:hover {
            background-color: #555; }
        html body div.drawer div.past-questions ul::-webkit-scrollbar {
          width: 0px; }
      html body div.drawer div.past-questions.closed ul {
        display: none; }
      html body div.drawer button {
        position: absolute;
        right: 0px;
        bottom: 50%;
        width: 20px;
        height: 25px;
        background: -webkit-linear-gradient(#FA906E, #FA5A2E);
        background: -o-linear-gradient(#FA906E, #FA5A2E);
        background: -moz-linear-gradient(#FA906E, #FA5A2E);
        background: linear-gradient(#FA906E, #FA5A2E);
        border: none;
        border-radius: 2px 0 0 2px;
        outline: none;
        cursor: pointer; }
        html body div.drawer button i {
          position: absolute;
          top: 2px;
          left: 5px;
          font-size: 20px;
          color: #fff;
          cursor: pointer; }
      @media (min-width: 800px) {
        html body div.drawer {
          position: relative; } }
    html body div.drawer::-webkit-scrollbar {
      width: 0px; }
    html body div.drawer.open {
      opacity: 1.0; }
    html body main {
      float: right;
      width: calc(100% - 27px);
      background: -webkit-linear-gradient(#614187, #3a4460), url("../img/consulting.jpg") no-repeat;
      background: -o-linear-gradient(#614187, #3a4460), url("../img/consulting.jpg") no-repeat;
      background: -moz-linear-gradient(#614187, #3a4460), url("../img/consulting.jpg") no-repeat;
      background: linear-gradient(#614187, #3a4460), url("../img/consulting.jpg") no-repeat; }
      html body main div.main-content {
        margin: 0 auto;
        width: 75%; }
        html body main div.main-content section.query {
          margin-top: 60px;
          width: 100%; }
          html body main div.main-content section.query form {
            text-align: center; }
            html body main div.main-content section.query form h2.query-prompt {
              margin-bottom: 15px;
              text-align: center;
              font-family: "slim-joe";
              font-size: 30px;
              color: #fff; }
            html body main div.main-content section.query form div.cycling-question {
              display: none;
              padding: 5px 5px 2px 5px;
              font-family: "slim-joe";
              font-size: 15px;
              color: #ddd;
              text-shadow: 0px 1px 1px #666;
              white-space: pre;
              background-color: transparent;
              border-radius: 3px;
              overflow: hidden;
              cursor: pointer; }
              @media (min-width: 650px) {
                html body main div.main-content section.query form div.cycling-question {
                  display: inline; } }
            html body main div.main-content section.query form div.cycling-question:hover {
              background-color: rgba(0, 0, 0, 0.1); }
            html body main div.main-content section.query form .typed-cursor {
              display: none;
              color: #ddd;
              opacity: 1;
              -webkit-animation: blink 0.7s infinite;
              -moz-animation: blink 0.7s infinite;
              animation: blink 0.7s infinite; }
              @media (min-width: 650px) {
                html body main div.main-content section.query form .typed-cursor {
                  display: inline; } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
            html body main div.main-content section.query form span.see-more-examples {
              opacity: 0;
              font-size: 12px;
              color: #eb7857;
              letter-spacing: 1px;
              cursor: pointer; }
            html body main div.main-content section.query form ul.example-questions {
              display: none;
              margin-top: 6px;
              padding: 10px;
              list-style: none;
              background-color: rgba(0, 0, 0, 0.1); }
              html body main div.main-content section.query form ul.example-questions li {
                margin: 5px 0;
                font-size: 13px;
                color: rgba(255, 255, 255, 0.6);
                letter-spacing: 1px;
                cursor: pointer; }
              html body main div.main-content section.query form ul.example-questions li:hover {
                color: rgba(255, 255, 255, 0.8); }
            html body main div.main-content section.query form input {
              display: inline-block;
              margin: 10px auto 0;
              padding: 0 10px;
              width: calc(100% - 20px - 80px);
              height: 45px;
              font-size: 16px;
              font-family: Arial, Helvetica;
              color: #444;
              border: none;
              outline: none;
              cursor: text; }
            html body main div.main-content section.query form input:hover {
              opacity: 0.9; }
            html body main div.main-content section.query form input:focus {
              opacity: 1.0; }
            html body main div.main-content section.query form button {
              display: inline-block;
              margin-top: 10px;
              width: 80px;
              height: 45px;
              vertical-align: top;
              font-family: "slim-joe";
              font-size: 16px;
              color: #fff;
              line-height: 45px;
              background: -webkit-linear-gradient(#FA906E, #FA5A2E);
              background: -o-linear-gradient(#FA906E, #FA5A2E);
              background: -moz-linear-gradient(#FA906E, #FA5A2E);
              background: linear-gradient(#FA906E, #FA5A2E);
              border: 2px solid #614385;
              border-style: none none none solid;
              cursor: pointer; }
            html body main div.main-content section.query form button:hover {
              opacity: 0.9; }
            html body main div.main-content section.query form h5.results-summary {
              margin: 10px 0;
              text-align: left;
              font-family: "slim-joe";
              font-size: 13px;
              font-weight: normal;
              color: #fff;
              opacity: 0; }
              html body main div.main-content section.query form h5.results-summary span.results-time {
                margin-left: 5px; }
        html body main div.main-content section.results {
          margin-top: 30px;
          width: 100%;
          overflow: hidden; }
          html body main div.main-content section.results ul.results-list {
            display: none;
            width: calc(100% + 0px);
            list-style: none;
            overflow-y: scroll; }
            html body main div.main-content section.results ul.results-list li.result {
              overflow: auto;
              margin-bottom: 6px;
              background-color: #f9f9f9;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
              cursor: pointer; }
              html body main div.main-content section.results ul.results-list li.result div.result-left {
                float: left;
                width: 80px; }
                html body main div.main-content section.results ul.results-list li.result div.result-left ul {
                  list-style: none;
                  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05); }
                  html body main div.main-content section.results ul.results-list li.result div.result-left ul li {
                    padding: 5px 0;
                    font-family: 'Slim-Joe';
                    text-align: center;
                    color: #999;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
                    html body main div.main-content section.results ul.results-list li.result div.result-left ul li i {
                      display: inline-block;
                      font-size: 12px; }
                    html body main div.main-content section.results ul.results-list li.result div.result-left ul li span {
                      display: inline-block;
                      margin-left: 6px;
                      font-size: 10px; }
                  html body main div.main-content section.results ul.results-list li.result div.result-left ul li:last-child {
                    box-shadow: none; }
              html body main div.main-content section.results ul.results-list li.result div.result-middle {
                float: left;
                padding: 25px 15px;
                width: calc(100% - 80px - 30px); }
                html body main div.main-content section.results ul.results-list li.result div.result-middle h3.result-class-title {
                  font-weight: normal;
                  font-size: 16px;
                  color: #777; }
                html body main div.main-content section.results ul.results-list li.result div.result-middle h5.result-class-professor {
                  color: #516395; }
                @media (min-width: 500px) {
                  html body main div.main-content section.results ul.results-list li.result div.result-middle {
                    width: calc(100% - 80px - 190px - 40px); } }
              html body main div.main-content section.results ul.results-list li.result div.result-right {
                float: right;
                padding: 29px 0 28px;
                width: 100%;
                text-align: center;
                border-top: 1px solid #bbb; }
                html body main div.main-content section.results ul.results-list li.result div.result-right span i {
                  margin-left: 5px;
                  font-size: 25px;
                  color: #777; }
                @media (min-width: 500px) {
                  html body main div.main-content section.results ul.results-list li.result div.result-right {
                    width: 120px;
                    border-top: none; } }
              html body main div.main-content section.results ul.results-list li.result div.result-expand {
                display: none;
                float: right;
                text-align: right;
                background-color: #fafafa;
                border-top: 1px solid #bbb; }
                html body main div.main-content section.results ul.results-list li.result div.result-expand h4 {
                  padding: 10px 0;
                  width: 100%;
                  font-family: "Slim-Joe";
                  font-size: 15px;
                  color: #444;
                  text-align: center; }
                  html body main div.main-content section.results ul.results-list li.result div.result-expand h4 span {
                    font-size: 22px; }
                html body main div.main-content section.results ul.results-list li.result div.result-expand ul.relevant-text {
                  padding: 0 10px 10px 10px;
                  font-size: 12px;
                  color: #777;
                  list-style: square; }
                  html body main div.main-content section.results ul.results-list li.result div.result-expand ul.relevant-text li {
                    margin-bottom: 2px;
                    line-height: 20px;
                    text-align: center; }
                    html body main div.main-content section.results ul.results-list li.result div.result-expand ul.relevant-text li b {
                      color: #444; }
                @media (min-width: 650px) {
                  html body main div.main-content section.results ul.results-list li.result div.result-expand {
                    padding: 15px 30px 15px 0;
                    width: calc(100% - 30px); }
                    html body main div.main-content section.results ul.results-list li.result div.result-expand h4 {
                      float: left;
                      width: 28%;
                      font-size: 19px; }
                      html body main div.main-content section.results ul.results-list li.result div.result-expand h4 span {
                        font-size: 26px; }
                    html body main div.main-content section.results ul.results-list li.result div.result-expand ul.relevant-text {
                      float: right;
                      padding: 0;
                      width: 70%; }
                      html body main div.main-content section.results ul.results-list li.result div.result-expand ul.relevant-text li {
                        text-align: right; } }
            html body main div.main-content section.results ul.results-list > li:last-child {
              margin-bottom: 3px; }
            html body main div.main-content section.results ul.results-list li.result:hover {
              box-shadow: 0px 1px 7px #777;
              opacity: 0.90; }
        html body main div.main-content section.schedule {
          width: 100%; }
          html body main div.main-content section.schedule table, html body main div.main-content section.schedule th, html body main div.main-content section.schedule td {
            border: 1px solid #fff; }
          html body main div.main-content section.schedule th {
            background-color: #e1e1e1; }
          html body main div.main-content section.schedule td {
            background-color: #eee; }
          html body main div.main-content section.schedule table {
            margin: 0 auto;
            width: 929px;
            color: #666;
            border-collapse: collapse; }
            html body main div.main-content section.schedule table thead {
              width: 100%;
              height: 50px; }
              html body main div.main-content section.schedule table thead tr th {
                padding: 10px 0;
                width: 115px; }
            html body main div.main-content section.schedule table tbody tr td {
              padding: 10px;
              height: 50px; }
      @media (min-width: 800px) {
        html body main {
          width: calc(100% - 250px - 1px); } }
    html body footer {
      width: 100%;
      height: 30px;
      background: -webkit-linear-gradient(#c6c6c6, #fff);
      background: -o-linear-gradient(#c6c6c6, #fff);
      background: -moz-linear-gradient(#c6c6c6, #fff);
      background: linear-gradient(#c6c6c6, #fff);
      overflow: auto;
      box-shadow: 0 1px 0px #aaa inset;
      border-bottom: 3px solid #444; }
      html body footer div.footer-inner {
        display: none;
        margin: 0 auto;
        padding: 5px 0;
        width: 95%;
        height: 20px;
        color: #777;
        overflow: auto; }
        html body footer div.footer-inner div.footer-left {
          float: left; }
          html body footer div.footer-inner div.footer-left span {
            display: inline-block;
            font-family: "big-john";
            font-size: 9px; }
          html body footer div.footer-inner div.footer-left ul {
            display: inline-block;
            font-family: "slim-joe";
            font-size: 9px;
            list-style: none; }
            html body footer div.footer-inner div.footer-left ul li {
              margin-left: 8px;
              display: inline-block; }
        html body footer div.footer-inner div.footer-right {
          float: right;
          font-size: 10px; }
          html body footer div.footer-inner div.footer-right span {
            margin-right: 5px;
            vertical-align: bottom;
            font-family: "slim-joe";
            font-size: 9px; }
          html body footer div.footer-inner div.footer-right img.ibm-logo {
            margin-bottom: 2px;
            margin-right: 5px;
            width: 37px; }
          html body footer div.footer-inner div.footer-right img.watson-logo {
            margin-bottom: 1px;
            width: 17px; }
      @media (min-width: 505px) {
        html body footer div.footer-inner {
          display: block; } }

/*# sourceMappingURL=style.css.map */
