$primary-color: #522F63;

$drawer-background-color: #f9f9f9;
$drawer-width: 250px;

$main-background-color-1: saturate(#614385, 2%);
$main-background-color-2: desaturate(darken(#516395, 15%), 5%);

$orange-background-color-1: #FA906E;
$orange-background-color-2: #FA5A2E;

$header-background-color-1: #222;
$header-background-color-2: #333;
$footer-background-color-1: #c6c6c6;
$footer-background-color-2: #fff;

$past-questions-color-1: #2a2a2a;
$past-questions-color-2: #222;

$result-background-color: #f9f9f9;

$schedule-background-color: #eee;

$header-footer-inner-width: 95%;

@font-face {
	font-family: Big-John;
	src: url('../fonts/big-john.otf');
}
@font-face {
	font-family: Slim-Joe;
	src: url('../fonts/slim-joe.otf');
}

html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	font-family: Arial, Helvetica;

	body {
		width: 100%;

		header {
			width: 100%;
			height: 50px;
			background: -webkit-linear-gradient($header-background-color-1, $header-background-color-2);
			background: -o-linear-gradient($header-background-color-1, $header-background-color-2);
			background: -moz-linear-gradient($header-background-color-1, $header-background-color-2);
			background: linear-gradient($header-background-color-1, $header-background-color-2);

			div.header-inner {
				margin: 0 auto;
				padding: 10px 0;
				width: $header-footer-inner-width;
				height: 30px;

				div.header-left {
					float: left;

					button {
						color: #fff;
						background: -webkit-linear-gradient($orange-background-color-1, $orange-background-color-2);
						background: -o-linear-gradient($orange-background-color-1, $orange-background-color-2);
						background: -moz-linear-gradient($orange-background-color-1, $orange-background-color-2);
						background: linear-gradient($orange-background-color-1, $orange-background-color-2);
						border: none;
						border-radius: 2px;

						a {
							display: block;
							padding: 6px 3px;
							color: #fff;
							text-decoration: none;
						}
					}
				}
				div.header-right {
					float: right;

					img.user-image {
						width: 30px;
					}
					span.user-greeting {
						margin-left: 5px;
						line-height: 34px;
						vertical-align: top;
						font-size: 15px;
						color: #fff;
					}
					img.ph-logo {
						margin-left: 30px;
						width: 40px;
					}
				}
			}
		}
		div.drawer {
			position: fixed;
			float: left;
			width: $drawer-width;
			overflow-y: scroll;
			background-color: $drawer-background-color;
			border-right: 1px solid #444;
			box-shadow: 1px 0 1px #444;
			overflow: hidden;
			opacity: 0.9;

			h1.banner {
				padding: 20px 10px 10px 10px;
				width: $drawer-width;
				color: #444;

				span:first-child {
					font-family: "Slim-Joe";
					font-size: 20px;
				}
				span:last-child {
					font-family: "Big-John";
					font-size: 19px;
				}
			}
			nav.drawer-menu {
				margin-top: 60px;

				h4.control-center-title {
					margin-bottom: 9px;
					padding-left: 10px;
					width: $drawer-width;
					color: #888;;
					font-family: "Slim-Joe";
					font-size: 12px;
				}
				ul {
					list-style: none;

					li {
						padding: 10px;
						width: calc(#{$drawer-width} - 20px);
						font-family: "slim-joe";
						font-size: 10px;
						color: #444;
						border-top: 1px solid #ddd;
						cursor: pointer;

						a {
							color: inherit;
							text-decoration: none;

							i {
								margin-right: 10px;
							}
							span {
								font-weight: bold;
							}
						}
					}
					li:last-child {
						border-bottom: 1px solid #ddd;
					}
					li:hover {
						background-color: #e3e3e3;
					}
					li#important-control-center {
						color: $orange-background-color-1;
					}
				}
			}
			div.past-questions {
				position: absolute;
				bottom: 0;
				padding: 10px 0 0 0;
				background: -webkit-linear-gradient($past-questions-color-1, $past-questions-color-2);
				background: -o-linear-gradient($past-questions-color-1, $past-questions-color-2);
				background: -moz-linear-gradient($past-questions-color-1, $past-questions-color-2);
				background: linear-gradient($past-questions-color-1, $past-questions-color-2);

				> span {
					display: block;
					padding: 10px;
					width: calc(#{$drawer-width} - 20px);
					font-family: "slim-joe";
					font-size: 12px;
					color: $drawer-background-color;
					border-bottom: 1px solid #666;

					i {
						margin-right: 10px;
					}
				}
				ul {
					list-style: none;
					height: 192px;
					overflow-y: scroll;

					li {
						padding: 10px 10px 10px 10px;
						width: calc(#{$drawer-width} - 20px);
						font-size: 12px;
						color: #aaa;
						cursor: pointer;
					}
					li:nth-child(2n) {
						background-color: #444;
					}
					li:hover {
						background-color: #555;
					}
				}
				ul::-webkit-scrollbar {
					width: 0px;
				}
			}
			div.past-questions.closed {

				ul {
					display: none;
				}
			}
			button {
				position: absolute;
				right: 0px;
				bottom: 50%;
				width: 20px;
				height: 25px;
				background: -webkit-linear-gradient($orange-background-color-1, $orange-background-color-2);
				background: -o-linear-gradient($orange-background-color-1, $orange-background-color-2);
				background: -moz-linear-gradient($orange-background-color-1, $orange-background-color-2);
				background: linear-gradient($orange-background-color-1, $orange-background-color-2);
				border: none;
				border-radius: 2px 0 0 2px;
				outline: none;
				cursor: pointer;

				i {
					position: absolute;
					top: 2px;
					left: 5px;
					font-size: 20px;
					color: #fff;
					cursor: pointer;
				}
			}
			@media(min-width: 800px) {
				position: relative;
			}
		}
		div.drawer::-webkit-scrollbar {
			width: 0px;
		}
		div.drawer.open {
			opacity: 1.0;
		}
		main {
			float: right;
			width: calc(100% - 27px);
			background: -webkit-linear-gradient($main-background-color-1, $main-background-color-2);
			background: -o-linear-gradient($main-background-color-1, $main-background-color-2);
			background: -moz-linear-gradient($main-background-color-1, $main-background-color-2);
			background: linear-gradient($main-background-color-1, $main-background-color-2);

			div.main-content {
				margin: 0 auto;
				width: 75%;

				section.query {
					margin-top: 60px;
					width: 100%;

					form {
						text-align: center;

						h2.query-prompt {
							margin-bottom: 15px;
							text-align: center;
							font-family: "slim-joe";
							font-size: 30px;
							color: #fff;
						}
						div.cycling-question {
							display: inline;
							padding: 5px 5px 2px 5px;;
							font-family: "slim-joe";
							font-size: 15px;
							color: #ddd;
							text-shadow: 0px 1px 1px #666;
							white-space: pre;
							background-color: rgba(0, 0, 0, 0);
							border-radius: 3px;
							overflow: hidden;
							cursor: pointer;
						}
						div.cycling-question:hover {
							background-color: rgba(0, 0, 0, 0.1);
						}
						.typed-cursor{
							display: inline;
							color: #ddd;
						    opacity: 1;
						    -webkit-animation: blink 0.7s infinite;
						    -moz-animation: blink 0.7s infinite;
						    animation: blink 0.7s infinite;
						}
						@keyframes blink{
						    0% { opacity:1; }
						    50% { opacity:0; }
						    100% { opacity:1; }
						}
						@-webkit-keyframes blink{
						    0% { opacity:1; }
						    50% { opacity:0; }
						    100% { opacity:1; }
						}
						@-moz-keyframes blink{
						    0% { opacity:1; }
						    50% { opacity:0; }
						    100% { opacity:1; }
						}
						span.see-more-examples {
							opacity: 0;
							font-size: 12px;
							color: #E5532A;
							letter-spacing: 1px;
							cursor: pointer;
						}
						ul.example-questions {
							display: none;
							margin-top: 6px;
							padding: 10px;
							list-style: none;
							background-color: rgba(0, 0, 0, 0.1);

							li {
								margin: 5px 0;
								font-size: 13px;
								color: rgba(256, 256, 256, 0.6);

								letter-spacing: 1px;
								cursor: pointer;
							}
							li:hover {
								color: rgba(256, 256, 256, 0.8);
							}
						}
						input {
							display: inline-block;
							margin: 10px auto 0;
							padding: 0 10px;
							width: calc(100% - 20px - 80px);
							height: 45px;
							font-size: 16px;
							font-family: Arial, Helvetica;
							color: #444;
							border: none;
							outline: none;
							cursor: text;
						}
						input:hover {
							opacity: 0.9;
						}
						input:focus {
							opacity: 1.0;
						}
						button {
							display: inline-block;
							margin-top: 10px;
							width: 80px;
							height: 45px;
							vertical-align: top;
							font-family: "slim-joe";
							font-size: 16px;
							color: #fff;
							line-height: 45px;
							background: -webkit-linear-gradient($orange-background-color-1, $orange-background-color-2);
							background: -o-linear-gradient($orange-background-color-1, $orange-background-color-2);
							background: -moz-linear-gradient($orange-background-color-1, $orange-background-color-2);
							background: linear-gradient($orange-background-color-1, $orange-background-color-2);
							border: 2px solid #614385;
							border-style: none none none solid;
							cursor: pointer;
						}
						button:hover {
							opacity: 0.9;
						}
						h5.results-summary {
							margin: 10px 0;
							text-align: left;
							font-family: "slim-joe";
							font-size: 13px;
							font-weight: normal;
							color: #fff;
							opacity: 0;

							span.results-time {
								margin-left: 5px;
							}
						}
					}
				}
				section.results {
					margin-top: 30px;
					width: 100%;
					overflow: hidden;

					ul.results-list {
						display: none;
						width: calc(100% + 0px);
						list-style: none;
						overflow-y: scroll;

						li.result {
							overflow: auto;
							margin-bottom: 6px;
							background-color: $result-background-color;
							box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
							cursor: pointer;

							div.result-left {
								float: left;
								width: 80px;

								ul {
									list-style: none;
									box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);

									li {
										padding: 5px 0;
										font-family: 'Slim-Joe';
										text-align: center;
										color: #999;
										box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

										i {
											display: inline-block;
											font-size: 12px;
										}
										span {
											display: inline-block;
											margin-left: 6px;
											font-size: 10px;
										}
									}
									li:last-child {
										box-shadow: none;
									}
								}
							}
							div.result-middle {
								float: left;
								padding: 25px 15px;
								width: calc(100% - 80px - 30px);

								h3.result-class-title {
									font-weight: normal;
									font-size: 16px;
									color: #777;
								}
								h5.result-class-professor {
									color: #516395;
								}
								@media(min-width: 500px) {
									width: calc(100% - 80px - 190px - 40px);
								}
							}
							div.result-right {
								float: right;
								padding: 29px 0 28px;
								width: 100%;
								text-align: center;
								border-top: 1px solid #bbb;

								span {

									i {
										margin-left: 5px;
										font-size: 25px;
										color: #777;
									}
								}
								@media(min-width: 500px) {
									width: 120px;
									border-top: none;
								}
							}
							div.result-expand {
								display: none;
								float: right;
								text-align: right;
								background-color: #fafafa;
								border-top: 1px solid #bbb;

								h4 {
									padding: 10px 0;
									width: 100%;
									font-family: "Slim-Joe";
									font-size: 15px;
									color: #444;
									text-align: center;

									span {
										font-size: 22px;
									}
								}
								ul.relevant-text {
									padding: 0 10px 10px 10px;
									font-size: 12px;
									color: #777;
									list-style: square;

									li {
										margin-bottom: 2px;
										line-height: 20px;
										text-align: center;

										b {
											color: #444;
										}
									}
								}
								@media(min-width: 650px) {
									padding: 15px 30px 15px 0;
									width: calc(100% - 30px);

									h4 {
										float: left;
										width: 28%;
										font-size: 19px;

										span {
											font-size: 26px;
										}
									}
									ul.relevant-text {
										float: right;
										padding: 0;
										width: 70%;

										li {
											text-align: right;
										}
									}
								}
							}
						}
						> li:last-child {
							margin-bottom: 3px;
						}
						li.result:hover {
							box-shadow: 0px 1px 7px #777;
							opacity: 0.90;
						}
					}
				}
				section.schedule {
					width: 100%;

					table, th, td {
						border: 1px solid #fff;
					}
					th {
						background-color: darken($schedule-background-color, 5%);
					}
					td {
						background-color: $schedule-background-color;
					}
					table {
						margin: 0 auto;
						width: 929px;
						color: #666;
						border-collapse: collapse;

						thead {
							width: 100%;
							height: 50px;

							tr {

								th {
									padding: 10px 0;
									width: 115px;
								}
							}
						}
						tbody {

							tr {

								th {

								}
								td {
									padding: 10px;
									height: 50px;
								}
							}
						}
					}
				}
			}
			@media(min-width: 800px) {
				width: calc(100% - #{$drawer-width} - 1px);
			}
		}
		footer {
			width: 100%;
			height: 80px;
			background: -webkit-linear-gradient($footer-background-color-1, $footer-background-color-2);
			background: -o-linear-gradient($footer-background-color-1, $footer-background-color-2);
			background: -moz-linear-gradient($footer-background-color-1, $footer-background-color-2);
			background: linear-gradient($footer-background-color-1, $footer-background-color-2);
			overflow: auto;
			box-shadow: 0 1px 0px #aaa inset;
			border-bottom: 3px solid #444;

			div.footer-inner {
				margin: 0 auto;
				padding: 5px 0;
				width: $header-footer-inner-width;
				height: 70px;
				color: #777;
				overflow: auto;

				div.footer-left {
					float: left;

					span {
						display: inline-block;
						font-family: "big-john";
						font-size: 9px;
					}
					ul {
						display: inline-block;
						font-family: "slim-joe";
						font-size: 9px;
						list-style: none;

						li {
							margin-left: 8px;
							display: inline-block;
						}
					}
				}
				div.footer-right {
					float: left;
					font-size: 10px;

					span {
						margin-right: 5px;
						vertical-align: bottom;
						font-family: "slim-joe";
						font-size: 9px;
					}
					img.ibm-logo {
						margin-bottom: 2px;
						margin-right: 5px;
						width: 37px;
					}
					img.watson-logo {
						margin-bottom: 1px;
						width: 17px;
					}
				}
			}

			@media(min-width: 730px) {
				height: 30px;

				div.footer-inner {
					height: 20px;

					div.footer-right {
						float: right;
					}
				}
			}
		}
	}
}