$primary-color: #522F63;
$drawer-background-color: #eee;
$main-background-color-1: #614385; 
$main-background-color-2: #516395;
$result-background-color: #eee;

$drawer-width: 250px;

@font-face {
	font-family: Big-John;
	src: url('../fonts/big-john.otf');
}
@font-face {
	font-family: Slim-Joe;
	src: url('../fonts/slim-joe.otf');
}

html, body, div, span, h1, h2, h3, h4,
h5, h6, p, a, img, i, ol, ul, li, form,
label, table, caption, {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	font-family: Arial, Helvetica;

	body {
		width: 100%;

		header {
			width: 100%;
			height: 50px;
			background-color: #333;

			div.header-inner {
				margin: 0 auto;
				padding: 10px 0;
				width: 95%;
				height: 30px;

				div.header-right {
					float: right;

					img.user-image {
						width: 30px;
					}
					span.user-greeting {
						margin-left: 5px;
						line-height: 34px;
						vertical-align: top;
						font-size: 15px;
						color: #fff;
					}
					img.ph-logo {
						margin-left: 30px;
						width: 40px;
					}
				}
			}
		}
		div.drawer {
			position: fixed;
			float: left;
			width: $drawer-width;
			background-color: $drawer-background-color;
			border-right: 1px solid #444;
			box-shadow: 1px 0 1px #666;
			overflow: hidden;
			opacity: 0.9;

			h1.banner {
				padding: 20px 10px 10px 10px;
				width: $drawer-width;
				color: #444;

				span:first-child {
					font-family: "Slim-Joe";
					font-size: 20px;
				}
				span:last-child {
					font-family: "Big-John";
					font-size: 19px;
				}
			}
			nav.drawer-menu {
				margin-top: 60px;

				h4.control-center-title {
					margin-bottom: 9px;
					padding-left: 10px;
					width: $drawer-width;
					color: #888;;
					font-family: "Slim-Joe";
					font-size: 14px;
				}
				ul {
					list-style: none;

					li {
						padding: 10px;
						width: calc(#{$drawer-width} - 20px);
						font-family: "slim-joe";
						font-size: 13px;
						color: #444;
						border-top: 1px solid #ddd;
						cursor: pointer;

						i {
							margin-right: 10px;
						}
						span {
							font-weight: bold;
						}
					}
					li:last-child {
						border-bottom: 1px solid #ddd;
					}
					li:hover {
						background-color: #e3e3e3;
					}
				}
			}
			div.past-questions {
				position: absolute;
				bottom: 0;
				padding: 10px 0 0 0;
				background-color: #333;

				> span {
					display: block;
					padding: 10px;
					width: calc(#{$drawer-width} - 20px);
					font-family: "slim-joe";
					font-size: 13px;
					color: $drawer-background-color;
					border-bottom: 1px solid #666;

					i {
						margin-right: 10px;
					}
				}
				ul {
					list-style: none;
					height: 192px;
					overflow-y: scroll;

					li {
						padding: 10px 10px 10px 10px;
						width: calc(#{$drawer-width} - 20px);
						font-size: 12px;
						color: #aaa;
						cursor: pointer;
					}
					li:nth-child(2n) {
						background-color: #444;
					}
					li:hover {
						background-color: #555;
					}
				}
				ul::-webkit-scrollbar {
					width: 0px;
				}
			}
			button {
				position: absolute;
				right: 0px;
				bottom: 330px;
				width: 25px;
				height: 30px;
				background-color: #444;
				border: none;
				border-radius: 3px 0 0 3px;
				outline: none;
				cursor: pointer;

				i {
					position: absolute;
					top: 3px;
					left: 6px;
					font-size: 25px;
					color: #fff;
					cursor: pointer;
				}
			}
			@media(min-width: 800px) {
				position: relative;
			}
		}
		div.drawer.open {
			opacity: 1.0;
		}
		main {
			float: right;
			width: calc(100% - 27px);
			background: -webkit-linear-gradient($main-background-color-1, $main-background-color-2);
			background: -o-linear-gradient($main-background-color-1, $main-background-color-2);
			background: -moz-linear-gradient($main-background-color-1, $main-background-color-2);
			background: linear-gradient($main-background-color-1, $main-background-color-2);

			div.main-content {
				margin: 0 auto;
				width: 90%;

				section.query {
					margin-top: 60px;
					width: 100%;

					form {

						h2 {
							margin-bottom: 10px;
							text-align: center;
							font-family: "slim-joe";
							font-size: 30px;
							color: #fff;
						}
						input {
							display: block;
							margin: 0 auto;
							padding: 0 10px;
							width: calc(100% - 20px);
							height: 45px;
							font-size: 16px;
							color: #444;
							border: none;
							border-radius: 3px;
							outline: none;
							cursor: pointer;
						}
						input:hover {
							opacity: 0.9;
						}
						input:focus {
							opacity: 1.0;
						}
						h5.results-summary {
							opacity: 0;
							display: inline-block;
							margin: 10px 0;
							font-family: "slim-joe";
							font-size: 13px;
							font-weight: normal;
							color: #fff;

							span.results-time {
								margin-left: 5px;
							}
						}
					}
				}
				section.results {
					margin-top: 30px;
					width: 100%;
					overflow: hidden;

					ul.results-list {
						display: none;
						width: calc(100% + 0px);
						list-style: none;
						overflow-y: scroll;

						li.result {
							overflow: auto;
							margin-bottom: 6px;
							background-color: $result-background-color;
							box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
							cursor: pointer;

							div.result-left {
								float: left;
								width: 80px;

								ul {
									list-style: none;
									box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);

									li {
										padding: 5px 0;
										font-family: 'Slim-Joe';
										text-align: center;
										color: #999;
										// border-bottom: 1px solid #fff;
										box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

										i {
											display: inline-block;
											font-size: 12px;
										}
										span {
											display: inline-block;
											margin-left: 6px;
											font-size: 10px;
										}
									}
									li:last-child {
										box-shadow: none;
									}
									li.result-confidence {
										// color: #fff;
										// background-color: rgba(0, 88, 105, 0.6);
									}
									li.result-add-to-schedule.possible {
										// color: #fff;
										// background-color: rgba(0, 133, 106, 0.6);
									}
									li.result-add-to-schedule.impossible {
										// color: #fff;
										// background-color: rgba(0, 133, 106, 0.6);
									}
									li.result-add-to-schedule.added {
										// color: #fff;
										// background-color: rgba(0, 133, 106, 0.6);
									}
									li.result-course-info {
										// color: #fff;
										// background-color: rgba(116, 173, 0, 0.6);
									}
								}
							}
							div.result-middle {
								float: left;
								padding: 25px 15px;
								width: calc(100% - 80px - 190px - 40px);

								h3.result-class-title {
									color: #555;
								}
								h5.result-class-professor {
									color: #516395;
								}
							}
							div.result-right {
								float: right;
								padding: 29px 0 28px;
								width: 190px;
								text-align: center;

								span {
									display: inline-block;
									line-height: 28px;
									vertical-align: top;
									font-size: 12px;
									font-family: 'Slim-Joe';
									color: #666;
								}
								i {
									display: inline-block;
									margin-left: 5px;
									font-size: 25px;
									color: #777;
								}
							}
							div.result-expand {
								display: none;
								float: right;
								padding: 15px 30px 15px 0;
								width: calc(100% - 30px);
								text-align: right;
								background-color: #fafafa;
								border-top: 1px solid #bbb;

								h4 {
									float: left;
									padding: 10px 0;
									width: 28%;
									font-family: "Slim-Joe";
									font-size: 19px;
									color: #444;
									text-align: center;

									span {
										font-size: 26px;
									}
								}

								ul.relevant-text {
									float: right;
									width: 70%;
									font-size: 12px;
									color: #777;
									list-style: square;

									li {
										margin-bottom: 2px;
										line-height: 20px;

										b {
											color: #444;
										}
									}
								}
							}
						}
						li.result:hover {
							box-shadow: 0px 1px 7px #777;
						}
					}
				}
			}
			@media(min-width: 800px) {
				width: calc(100% - #{$drawer-width} - 1px);
			}
		}
	}
}