<!DOCTYPE HTML>
<html>

	<head>
		<title>Professor Holmes</title>
		<link rel="icon" type="image/png" href="static/img/ph-logo-black.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
		<script src="static/js/typed.js"></script>
		<script src="static/js/script.js"></script>
	</head>

	<body>

		<header>
			<div class="header-inner">
				<div class="header-left">
					<a target="_blank" href="https://www.surveymonkey.com/s/FFZ88QD">Give us your feedback</a>
				</div>
				<div class="header-right">
					<img class="ph-logo" src="static/img/ph-logo.png">
				</div>
			</div>
		</header>

		<div class="drawer open">
			<h1 class="banner"><span>Professor</span> <span>Holmes</span></h1>
			<nav class="drawer-menu">
				<h4 class="control-center-title">Control Center</h4>
				<ul>
					<li><a href="./"><i class="fa fa-search"></i><span>Ask Holmes</span></a></li>
				</ul>
			</nav>
			<div class="past-questions">
				<span><i class="fa fa-list"></i>Past Questions</span>
				<ul class="past-questions">
				</ul>
			</div>
			<button class="drawer-toggle">
				<i class="fa fa-angle-double-left"></i>
			</button>
		</div>

		<main id="index">
			<div class="main-content">

				<section class="query">
					<form>
            			<h2 class="query-prompt">Ask me a question about Courses.</h2>
						<h3 class="new-items">Now supporting EECS &amp; Coursera courses</h3><br>
						<div class="inline-spacer"></div>
            			<div class="cycling-question"></div>
            			<span class="see-more-examples">See example questions</span><br>
            			<ul class="example-questions">

            			</ul>
            			{% csrf_token %}
						<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" style="display:none"/>
						<br><input class="question" placeholder="Ask me a question the same way you'd ask a person..."><button>Ask</button/>
						<h5 class="results-summary"><span class="results-quantity"></span> Results <span class="results-time"></span></h5>
					</form>
				</section>

				<section class="results">
					<div class="loader">Loading...</div>
					<ul class="results-list">
						
					</ul>
				</section>

			</div>
		</main>

		<footer>
			<div class="footer-inner">
				<div class="footer-left">
					<span>Created by</span>
					<ul>
						<li>Chen Liang</li>
						<li>Mohammed Alam</li>
						<li>Jin Sun</li>
						<li>Joshua Roberts</li>
						<li>Jon Rovira</li>
					</ul>
				</div>
			</div>
		</footer>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		      ga('create', 'UA-56530186-1', 'auto');
		      ga('send', 'pageview');
		</script>

  </body>

</html>

