<!DOCTYPE HTML>
<html>

	<head>
		<title>Professor Holmes</title>
		<link rel="stylesheet" href="static/css/style.css">
	</head>

	<body>

		<header>
			<nav>
				<h1 class="nav-header">Professor Holmes</h1>
				<ul>
					<li>Jon Rovira</li>
					<li>Log Out</li>
				</ul>
			</nav>
		</header>

		<main>
			<section class="query">
				<form>
					<h2>How can I help you?</h2>
					<input placeholder="Type your question here...">
				</form>
			</section>
			<hr>
			<section class="results">
				<h2 class="section-header">Results</h2><span>(4)</span>
				<ul class="results-list">
					<li class="result">
						<h3 class="results-title">Machine Learning</h3>
					</li>
					<li class="result">
						<h3 class="results-title">Intro to Artificial Intelligence</h3>
					</li>
					<li class="result">
						<h3 class="results-title">Next Gen AI Applications with IBM Watson</h3>
					</li>
					<li class="result">
						<h3 class="results-title">Artificial Intelligence Programming</h3>
					</li>
				</ul>
			</section>
		</main>

	</body>

</html>

